p
{
    font-size: 16px;
    border: solid;
    border-radius: 8px;
    border-width: 5px;
    padding: 10px;
    background-color: #b1976a;
    color: #373e2a;
    max-width: 100px;
    
}

h1
{
    font-size: 28px;
    border: solid;
    border-radius: 8px;
    border-width: 5px;
    padding: 10px;
    background-color: #b1976a;
    color: #a44c04;
    max-width: 500px;
}

body
{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Sunny_Lenga_Forest_%283321050068%29.jpg/800px-Sunny_Lenga_Forest_%283321050068%29.jpg);
}
